@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: radial-gradient(circle at 50% -20.71%, #fbe2d5 0, #fadace 10%, #f9d2c7 20%, #f7c9c1 30%, #f5c0bb 40%, #f2b5b5 50%, #eeabb1 60%, #eaa1ae 70%, #e699ae 80%, #e091af 90%, #da8bb1 100%);;
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main{

}

h1 {
    color: #343a40;
}

#title-main{
    font-family: 'Kanit';
    font-size: 2.8rem;
    font-weight: 700;
    color: #17294b;
}

.lead {
    color: #2d3135;
    font-weight: 300;
    font-family: 'Manrope';
    font-size: 2rem;
}

#nombre-generado {
    color: #007bff;
    font-weight: bold;
}
